<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="SeverConection"
		 providerName="System.Data.ProviderName"
		 connectionString="Server=buygear-sever.database.windows.net;Database=BuyGear;UID=mini0212;Pwd=gaugau@123" />
	</connectionStrings>
	<appSettings>
		<add key="ID_Driver" value="1xFrywthrka6T7WYxKxgZCUdD0nLhqYHh"/>
	</appSettings>
</configuration>